<p id="notice"><%= notice %></p>

<%= link_to 'New Post', new_post_path, remote: true %>
<div id="post-form" style="display:none;"></div>


<h1>Listing Posts</h1>
<ul>
    <div id="posts">    
        <%= render @posts %>
    </div>
</ul>

